.paginator__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.paginator__controls {
    display: flex;
    justify-content: center;
  }
  
  .paginator__control {
    width: 5rem;
    padding: 0.25rem 0;
    margin: 0.25rem 1rem;
    background: linear-gradient(to bottom,#b1a5f7,#994bf7);
    border-color: #7034a8 #6c319c #4c2984;
    cursor: pointer;
    font-size: 1rem;
}
  
  .paginator__control:hover,
  .paginator__control:active {
    background: linear-gradient(to bottom,#ead2f3,#ac7beb);
  }
  
  .paginator__control:focus {
    outline: none;
  }
  